@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    /* max-width: 1200px;
    margin: 0 auto; */
    margin: 0 233px;
}

/* slider section */
.frist-section {
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 170px;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.slider-text {
    max-width: 650px;
}

.slider-text h1 {
    color: #272727;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
}

.slider-text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: none;
}

.slider-image {
    max-width: 555px;
}

.slider-image img {
    max-height: 700px;
    padding-top: 50px;
}

/* Featured flowers section */

.title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 0 48px 0;
}

.flower-boder {
    display: flex;
    justify-content: space-around;
    gap: 22px;
}

.common-flower {
    width: 364px;
    height: 438px;
    flex-shrink: 0;
}

.common-flower p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 30px;
}

.common-flower img {
    bottom: 0;
}

.fast img {
    width: 250px;
    height: 310px;
    padding: 95px 66px 0px 66px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}


.second img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 105px 40px 43px 40px;
    width: 300px;
    height: 260px;
}

.third img {
    width: 254px;
    height: 351px;
    padding: 57px 65px 0px 65px;
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}

/* imogi section */
.imogi-section {
    display: flex;
    justify-content: space-around;
    padding: 82px 0;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 122px;
    margin-bottom: 122px;
}

.imogi h4 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    padding-top: 22px;
}

/* hot-deal section */
.hot-deal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 126px;
}

.deal-text h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

span.red {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

.deal-text p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 23px 0 30px 0;
}

.btn-center {
    margin: 0 auto;
    display: block;
}

.deal-img {
    width: 318px;
    height: 420px;
}

/* instagram image section */
.instagram {
    margin-bottom: 126px;
}

.flower-image {
    display: flex;
    justify-content: space-around;
    gap: 22px;
}
.flo-img img{
    width: 315px;
    height: 360px;
}

/* subscribe-section */

.subscribe-section {
    background-image: url('./Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 120px;
    padding-bottom: 120px;
}

.subscribe-section h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;

}

.subscribe-section p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
    line-height: 30px;
    padding-bottom: 45px;
}

.input-field {
    text-align: center;
}

.input-field input {
    color: rgba(39, 39, 39, 0.60);
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 17px;
    border: none;

}

/* testmonial section */
.testmonial-section {
    display: flex;
    justify-content: space-around;
    gap: 22px;
    margin-top: 126px;
    text-align: center;
    background-color: #f3a683;
    padding: 0 120px;
    border-radius: 10px;
    padding-top: 35px;
}

.testmonial img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* footer section */
.footer {
    background: #111010;
    text-align: center;
    padding: 126px 0;
    margin-top: 126px;
}

.footer h2 {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.footer span {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}

.footer h4 {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 23px 0 30px 0;
}

.footer p {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}